#research.window {
  top: 50px;
  left: 485px;
  height: 700px;

  .body {

    .timing-container {
      height: 100px;
      border-bottom: 1px solid rgb(42, 49, 59);
      color: #9DBFDA;
      padding: 8px;
      position: relative;
      background: rgba(21, 26, 32, 0.9);

      button.decline {
        float : right;
        margin-top: 7px;
      }

      .research-progress {
        height: 16px;
        border: 1px solid rgb(42, 49, 59);
        background: rgba(21, 26, 32, 0.9);
        margin-top: 10px;
        position: relative;

        .percent-text {
          position: absolute;
          left: 50%;
          top: 0;
          width: 30px;
          margin-left: -7px;
          color: #fff;
          font: 12px 'Play';
        }

        .percent-progress {
          @include transition(1s);

          height: 100%;
          width: 0;
          background: #3F7494;
        }
      }
    }
    .research-container {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .item {
      border-bottom: 1px solid rgb(42, 49, 59);
      position: relative;
      cursor: pointer;

      .image {
        width: 40px;
        height: 65px;
        background: #fff;
        border: 1px solid white;
        margin: 8px;
        float: left;
      }

      .desc {
        float: left;
        width: 75%;
        margin: 8px;

        .title {
          font: 14px 'Play';
          margin-bottom: 10px;
          color: #fff;
        }

        .text {
          font: 12px 'Play';
          color: #CBCBCB;
        }
      }

      .resources {
        position: absolute;
        right: 15px;
        top: 10px;
        font: 12px 'Play';

        div {
          margin-bottom: 5px;
          float: right;
          margin-left: 15px;
        }

        div:last-child {
          margin-bottom: 0;
          margin-left: 0;
        }

        span[data-resource] {
          float: right;
          color: #C9E5FC;
        }

        .fa {
          float: left;
          margin-right: 5px;
        }
      }

      &.powerplant .image {
        background: #fff url(../img/building/icons/icon_power-plant.png) center top;
      }

      &:not(.disabled):hover {
        background: rgba(22, 58, 97, 0.5);
      }

      &:not(.disabled):active {
        background: rgba(22, 58, 97, 0.8);
      }

      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}