@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-border {
          box-sizing: border-box;
     -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
@mixin transition($value) {
  -moz-transition: all $value;
  -webkit-transition: all $value;
  -o-transition: all $value;
  transition: all $value;
}