/* Common default */

$default-font: 'Play';
$default-color: #9DBFDA;
$default-transition: 0.5s;

/* Default elements section //currently not used// */

$element-font: 'Play';

/* Default window section */

$win-title-height: 25px;
$win-title-bg: rgba(12, 17, 23, 0.9);
$win-title-b: 1px solid rgb(42, 49, 59);

$win-padding: 10px;
$win-default-font-size: 14px;
$win-bg: rgba(24, 33, 42, 0.8);
$win-b: 1px solid rgb(42, 49, 59);
$win-b-main: 1px solid #fff;
$win-free-width: 400px;
$win-height: 550px;

$win-footer-height: 55px;
$win-footer-bg: rgba(12, 17, 23, 0.17);
$win-footer-b: 1px solid #2A313B;

$wz: 20;

/* resource colors */
$c-uranium: #717171;
$c-titan: #FFAE00;
$c-helium: #C7B8FF;
$c-danger: #FF4700;
$c-power: rgb(194, 255, 0);
$c-event: #b22feb;

/* colors */
$c-male: #add8e6;
$c-female: #ffc0cb;
$c-age: #c0c0c0;
$c-year: #FAD08A;
$c-gray: #919191;
$c-log: #EAEAEA;