/* Common default */

$default-font: 'Play';

/* Default elements section */

$element-font: 'Play';

/* Default window section */

$win-title-height: 25px;
$win-title-bg: rgba(12, 17, 23, 0.9);
$win-title-b: 1px solid rgb(42, 49, 59);

$win-padding: 10px;
$win-bg: rgba(24, 33, 42, 0.8);
$win-b: 1px solid rgb(42, 49, 59);
$win-b-main: 1px solid #fff;
$wcorner: 98%;

$win-footer-height: 35px;
$win-footer-bg: rgba(12, 17, 23, 0.17);
$win-footer-b: 1px solid #2A313B;

$wz: 20;
