.window {
    @include box-border;
	background: $win-bg;
	border: $win-b;
    z-index: $wz;
	position: relative;

	> .title {
		@include box-border;

		height: $win-title-height;
		background: $win-title-bg;
		border-bottom: $win-title-b;
        z-index: $wz + 6;
        font: $win-default-font-size - 1 $default-font;
		color: #9DBFDA;
		padding: 4px 5px 5px 10px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	> .close {
        @include transition($default-transition);
        z-index: $wz + 7;

		position: absolute;
		right: 5px;
		top: 5px;
		width: 13px;
		height: 13px;
		background: url(../img/close-window_a.png);
        opacity: 0.6;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

        &:active {
            @include transition(0s);

            opacity: 0.4;
        }
	}
	
	> .body {
		@include box-border;
		padding: $win-title-height + $win-padding $win-padding $win-footer-height + $win-padding $win-padding;
        z-index: $wz + 5;
		font: $win-default-font-size $default-font;

        position: relative;
		line-height: 1.4em;
		font-weight: normal;
		color: #fff;
		height: 100%;

        &.no_pad {
          padding: $win-title-height 0 $win-footer-height 0;
        }
	}
  
	> .footer {
		@include box-border;
		padding: $win-padding;
		height: $win-footer-height;
		background: $win-footer-bg;
		border-top: $win-footer-b;
        z-index: $wz + 6;
		font: $win-default-font-size - 2 $default-font;

		width: 100%;
		color: #C2C2C2;
		position: absolute;
		bottom: 0;
		left: 0;
	}
  
	&.static {
		.close {
			display: none;
		}
	}
    &.no-footer {
      .footer {
        display: none;
      }
      .body {
        padding: $win-title-height + $win-padding $win-padding $win-padding $win-padding;

        &.no_pad {
          padding: $win-title-height 0 0 0;
        }
      }
    }
    &.no-title {
      > .title {
        display: none;
      }
      .body {
        padding: $win-padding $win-padding $win-footer-height + $win-padding $win-padding;

        &.no_pad {
          padding: 0 0 $win-footer-height 0;
        }
      }
    }
    &.no-footer-title {
      > .title, .footer {
        display: none;
      }
      .body {
        padding: $win-padding;

        &.no_pad {
          padding: 0;
        }
      }
    }

    &.win-free {
      width: $win-free-width;

      position: absolute;
      height: auto;

      > .title {
        cursor: default !important;
      }
    }
    &:not(.win-free) {
      margin: 6px 0;
    }
}