#graphs {
  width: 35%;
  float: left;
  height: 400px;

  .body {
    .item {
      height: 41px;
      border-bottom: 1px solid #2a313b;
      color: #9DBFDA;
      padding: 10px 0;
    }
    .item:first-child {
      border-top: 1px solid #2a313b;
      margin-top: 12px;
    }
    button {
      float: right;
      position: relative;
      top: -6px;
    }

    span[data-number] {
      position: absolute;
      right: 80px;
      color: #fff;
    }
  }
}