@-webkit-keyframes moveclouds {
  0% {background-position: 0 100%;}
  100% {background-position: 0 0;}
}
@-moz-keyframes moveclouds {
  0% {background-position: 0 100%;}
  100% {background-position: 0 0;}
}
@-o-keyframes moveclouds {
  0% {background-position: 0 100%;}
  100% {background-position: 0 0;}
}
.commander-title {
  float: right;
  .name {
    color: $c-power;
  }
}
#map {
  width: 63.8%;
  float: right;
  height: 400px;

  .land {
    width: 95.5%;
    height: 260px;
    bottom: 0px;
    position: absolute;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    display: block;
  }
  .smoke {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 600px;
    margin-left: -400px;
    opacity: 0.2;
    height: 320px;
    background-image: url(../img/wind.png);
    background-position: 0px 100%;
    background-repeat: repeat-x;

    -webkit-animation: moveclouds 12s linear infinite;
    -moz-animation: moveclouds 12s linear infinite;
    -o-animation: moveclouds 12s linear infinite;
  }

  .background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/map_bg.jpg);
    background-size: cover;
    background-position-x: center;
    border: 1px solid rgb(42, 49, 59);
    overflow: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    @include transition(5s);

    &.grayscale {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
  }
  .perspective {
    transform: perspective(400px) rotateX(60deg);
    width: 70%;
    height: 100%;
    left: 17.5%;
    position: relative;
    bottom: -10%;
  }
  .svg-container.active {
    svg {
      polygon {
        &:hover {
          fill: rgba(184, 255, 0, 0.62);
          cursor: pointer;
        }
      }
    }
    .smoke {
      z-index: -1;
    }
  }
}