#top-panel {
  width: 100%;
  height: auto;
  position: relative;

  #resource {
    width: auto;
    float: left;
    height: 34px;

    .resource {
      font: $win-default-font-size $element-font;
      color: $default-color;

      min-width: 155px;
      height: 25px;
      float: left;
      margin: 5px 10px 0px 5px;
      padding: 3px 7px 7px 7px;
      background: rgba(24, 33, 42, 0.8);
      border: 1px solid rgb(42, 49, 59);
      position: relative;
    }

    span[data-resource='amount'] {
      color: #C9E5FC;
    }
  }

  #win-buttons {
    float: right;
    width: auto;
    height: 34px;

    button {
      float: left;
      margin: 0 5px 5px 5px;
    }
  }

  .resource#ilmenite {

  }
  .resource#titan {

  }
  .resource#energy {

  }
  .button#population {

  }
  .button#build {

  }
  .button#research {

  }
}