/* Common default */
/* Default elements section */
/* Default window section */
/* Eric Meyer's CSS Reset */
@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Jura:500,600&subset=latin,cyrillic);
/* line 2, ../scss/components/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/components/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../scss/components/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../scss/components/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../scss/components/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../scss/components/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../scss/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
/* line 1, ../scss/components/_common.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 4, ../scss/components/_common.scss */
body {
  font: 12px/18px "Play", sans-serif;
  width: 100%;
  background: #001620;
}

/* line 9, ../scss/components/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../scss/components/_common.scss */
*:focus {
  outline: 0;
}

/* line 17, ../scss/components/_common.scss */
.wrapper {
  width: 962px;
  margin: 0 auto;
  position: relative;
}

/* line 22, ../scss/components/_common.scss */
.content {
  margin-top: 10px;
}

/* line 25, ../scss/components/_common.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 2, ../scss/components/_ui.scss */
.msg.error {
  color: #FF4700;
}
/* line 5, ../scss/components/_ui.scss */
.msg.year {
  color: #ffe1a9;
}
/* line 8, ../scss/components/_ui.scss */
.msg.event {
  color: #DB8EFF;
}
/* line 11, ../scss/components/_ui.scss */
.msg.man {
  color: #9BDAFA;
}
/* line 14, ../scss/components/_ui.scss */
.msg.woman {
  color: #FFC0BF;
}
/* line 17, ../scss/components/_ui.scss */
.msg.death {
  color: #8B8B8B;
}
/* line 20, ../scss/components/_ui.scss */
.msg.population {
  color: #F2B8FF;
}
/* line 23, ../scss/components/_ui.scss */
.msg.bonus {
  color: #00CFFF;
}
/* line 26, ../scss/components/_ui.scss */
.msg.resource {
  color: #FFAE00;
}
/* line 29, ../scss/components/_ui.scss */
.msg.power {
  color: #8EFF00;
}

/* line 34, ../scss/components/_ui.scss */
.button {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #23344c;
  background: rgba(25, 45, 66, 0.8);
  height: 30px;
  color: rgba(236, 245, 255, 0.8);
  font: 14px "Play";
  padding: 0px 15px 0px 15px;
  position: relative;
  cursor: pointer;
}
/* line 46, ../scss/components/_ui.scss */
.button:after {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  background: url(../img/UI_res.png) center;
  opacity: 0.4;
  bottom: -3px;
  left: 0px;
}
/* line 57, ../scss/components/_ui.scss */
.button:hover {
  border: 1px solid #1f395f;
  background: rgba(22, 58, 97, 0.8);
  color: rgba(236, 245, 255, 0.8);
}
/* line 63, ../scss/components/_ui.scss */
.button:active {
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
  transition: all 0ms;
  border: 1px solid #23344c;
  background: rgba(25, 45, 66, 0.5);
  color: rgba(236, 245, 255, 0.5);
}
/* line 71, ../scss/components/_ui.scss */
.button.accept {
  float: right;
}
/* line 74, ../scss/components/_ui.scss */
.button.decline {
  float: left;
}

/* line 1, ../scss/components/_window.scss */
.window {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(24, 33, 42, 0.8);
  border: 1px solid #2a313b;
  z-index: 20;
  position: relative;
}
/* line 9, ../scss/components/_window.scss */
.window .title {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 25px;
  background: rgba(12, 17, 23, 0.9);
  border-bottom: 1px solid #2a313b;
  z-index: 26;
  font: 13px "Play";
  color: #9DBFDA;
  padding: 4px 5px 5px 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 25, ../scss/components/_window.scss */
.window .close {
  z-index: 27;
  -moz-transition: all 0.5ms;
  -webkit-transition: all 0.5ms;
  -o-transition: all 0.5ms;
  transition: all 0.5ms;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 13px;
  height: 13px;
  background: url(../img/close-window.png);
  cursor: pointer;
}
/* line 37, ../scss/components/_window.scss */
.window .close:hover {
  background: url(../img/close-window_a.png);
}
/* line 42, ../scss/components/_window.scss */
.window .body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 35px 10px 65px 10px;
  z-index: 25;
  font: 14px "Play";
  position: relative;
  line-height: 1.4em;
  font-weight: normal;
  color: #fff;
  height: 100%;
}
/* line 54, ../scss/components/_window.scss */
.window .body.no_pad {
  padding: 25px 0 55px 0;
}
/* line 59, ../scss/components/_window.scss */
.window .footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
  height: 55px;
  background: rgba(12, 17, 23, 0.17);
  border-top: 1px solid #2A313B;
  z-index: 26;
  font: 12px "Play";
  width: 100%;
  color: #C2C2C2;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 76, ../scss/components/_window.scss */
.window.static .close {
  display: none;
}
/* line 81, ../scss/components/_window.scss */
.window.no-footer .footer {
  display: none;
}
/* line 84, ../scss/components/_window.scss */
.window.no-footer .body {
  padding: 35px 10px 10px 10px;
}
/* line 87, ../scss/components/_window.scss */
.window.no-footer .body.no_pad {
  padding: 25px 0 0 0;
}
/* line 93, ../scss/components/_window.scss */
.window.no-title .title {
  display: none;
}
/* line 96, ../scss/components/_window.scss */
.window.no-title .body {
  padding: 10px 10px 65px 10px;
}
/* line 99, ../scss/components/_window.scss */
.window.no-title .body.no_pad {
  padding: 0 0 55px 0;
}
/* line 105, ../scss/components/_window.scss */
.window.no-footer-title .title, .window.no-footer-title .footer {
  display: none;
}
/* line 108, ../scss/components/_window.scss */
.window.no-footer-title .body {
  padding: 10px;
}
/* line 111, ../scss/components/_window.scss */
.window.no-footer-title .body.no_pad {
  padding: 0;
}
/* line 117, ../scss/components/_window.scss */
.window.win-free {
  width: 400px;
  position: absolute;
  height: auto;
}
/* line 123, ../scss/components/_window.scss */
.window:not(.win-free) {
  margin: 6px 0;
}

/* line 1, ../scss/components/blocks/_top-panel.scss */
#top-panel {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 6, ../scss/components/blocks/_top-panel.scss */
#top-panel #resource {
  width: 100%;
  height: 45px;
}
/* line 10, ../scss/components/blocks/_top-panel.scss */
#top-panel #resource .resource {
  font: 14px "Play";
  color: #9DBFDA;
  min-width: 180px;
  height: 25px;
  float: left;
  margin: 5px 10px 0px 5px;
  padding: 3px 7px 7px 7px;
  background: rgba(24, 33, 42, 0.8);
  border: 1px solid #2a313b;
  position: relative;
}
/* line 25, ../scss/components/blocks/_top-panel.scss */
#top-panel #win-buttons {
  width: 100%;
  height: 34px;
}
/* line 29, ../scss/components/blocks/_top-panel.scss */
#top-panel #win-buttons button {
  float: left;
  margin: 0px 10px 5px 5px;
}

/* line 3, ../scss/components/blocks/_graphs.scss */
#graphs .body .item {
  height: 33px;
  margin: 10px 0;
}
/* line 7, ../scss/components/blocks/_graphs.scss */
#graphs .body button {
  float: right;
}

/* line 1, ../scss/components/blocks/_map.scss */
#map {
  width: 100%;
  height: 500px;
}

/* line 2, ../scss/components/windows/_population.scss */
#population.window .body {
  height: 550px;
}
/* line 6, ../scss/components/windows/_population.scss */
#population.window .sidebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: 100%;
}
/* line 12, ../scss/components/windows/_population.scss */
#population.window .sidebar.left {
  float: left;
}
/* line 16, ../scss/components/windows/_population.scss */
#population.window .sidebar.right {
  float: right;
  border-left: 1px solid #2a313b;
}
/* line 21, ../scss/components/windows/_population.scss */
#population.window .sidebar .sidebar-title {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 25px;
  background: rgba(12, 17, 23, 0.9);
  border-bottom: 1px solid #2a313b;
  z-index: 26;
  font: 12px "Play";
  color: #9DBFDA;
  padding: 4px 5px 5px 10px;
  font-weight: bold;
}
/* line 34, ../scss/components/windows/_population.scss */
#population.window .sidebar .sidebar-body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

/* line 1, ../scss/components/windows/_build.scss */
#buildings.window {
  top: 35%;
  left: 20%;
}

/* line 1, ../scss/components/windows/_tech.scss */
#tech.window {
  top: 65%;
  left: 20%;
}

/* line 1, ../scss/components/windows/_expedition.scss */
#expedition.window {
  top: 20%;
  left: 62%;
}

/* line 1, ../scss/components/windows/_research.scss */
#research.window {
  top: 45%;
  left: 20%;
}
